# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore IntelliJ Idea config files
.idea

# Ignore .launch files
.launch

# Ignore .log files
.log