<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.junit.launchconfig">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/mk-testframework/src/test/java/com/mk/testframework/runner/RunnerUsMobile.java"/>
        <listEntry value="/mk-testframework/src/test/java/com/mk/testframework/runner/RunnerEuDesktop.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <stringAttribute key="org.eclipse.jdt.junit.CONTAINER" value=""/>
    <booleanAttribute key="org.eclipse.jdt.junit.KEEPRUNNING_ATTR" value="false"/>
    <stringAttribute key="org.eclipse.jdt.junit.TESTNAME" value=""/>
    <stringAttribute key="org.eclipse.jdt.junit.TEST_KIND" value="org.eclipse.jdt.junit.loader.junit4"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_CLASSPATH_ONLY_JAR" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.buildship.core.classpathprovider"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.mk.testframework.runner.RunnerEuDesktop"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="mk-testframework"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Denv=mk-prod-chrome -Dlocale=fr_FR"/>
</launchConfiguration>
